.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items>ul li{
    padding: 16px;
    margin: 0;
    list-style-type: none;
    font-size: 16px;
    color: #394149;
    text-align: right top;
}
.button{
    background-color: 
    #f58a076c 10%;
    background: #F58A071A;
    color: #F58A07;
    border-radius: 31px;
    display: inline-block;
    padding: 18px 30px;
}
.nav-items{
    margin-left: auto;
    display: flex;
}
.nav-items ul{
    display: flex;
}
.header{
    background-color: #DCEAF5;
    top: 16px;
    height: auto;
    width: 100%;
    position: relative;
}
.header-text{
    padding-top: 117px;
    padding-bottom: 147px;
    width: 580px;
}
.text h5{
    color: #1D3444;
    font-size: 64px;
    font-weight: 600px;
    letter-spacing: -0.03em;
    line-height: 72px;
    margin-bottom: 12px;
}
.text p{
    color: 
    #5B5B5B;
    font-size: 18px ;
    font-weight: 500px;
    line-height: 30px;
}
.buttons{
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.buttons >*{
    /* flex: 1; */
}
.buttons a{
    padding: 18px 32px;
    background-color: #F58A07;
    color: #fff;
    border-radius: 27px;
}
.buttons p{
    font-size: 16px;
    color: #1D3444;
    /* font: bold; */
    margin-left: 40px;

}
.button-compan{
    font-weight: 400px;
    font-size: 18px;
    color: #394149 50%;
    color:  rgba(57, 65, 73, 0.5);
    margin-top: 56px;

}
.header-logos{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.header-logos>*{
    flex: 1;
}
.header-image{
    position: absolute;
    /* top: 85px; */
    right: 232px;
    bottom: 0px;
}
.help-section{
    margin-top: 96px;
}
.help-article{
    width: 735px;
}
.help-article h5{
 color: #1D3444;
 font-size: 48px;
 font-weight: 600px;
 line-height: 56px;
 margin-bottom: 27px;
}
.help-article p{
    color: #5B5B5B;
    font-weight: 500px;
    font-size: 18px;
    line-height: 30px;

}
.help-post{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.help-post img{
    border-radius: 20px;
}
.help-post h5{
    font-size: 24px;
    color: #0D1317;
    margin-top: 33px;

}
.help-post p{
    font-weight: 500px;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-top: 17px;
    margin-bottom: 24px;
}
.help-post a{
    color: #F58A07;
    font-size: 16px;
    /* margin-top: 24px; */
}
.help-post a>img{
    color: #F58A07;
}